*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: calc(0.25rem + 1em + 0.25rem);
}

html {
  scrollbar-gutter: stable both-edges;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  @media (prefers-reduced-motion: no-preference) {
    &:focus-within {
      scroll-behavior: smooth;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

ol, ul {
  list-style-position: inside;
  ol, ul {
    padding: revert;
  }
  &[role='list'] {
    list-style: none;
  }
}

pre {
  overflow: auto;
}

picture, img, svg, video, canvas, audio, object {
  display: block;
  block-size: auto;
  max-inline-size: 100%;
}

input, textarea, select, button {
  color: inherit;
  font: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
}

textarea {
  resize: vertical;
  @supports (resize: block) {
    resize: block;
  }
}

button, button[type], input[type="button"], input[type="submit"], input[type="reset"] {
  user-select: none;
  text-align: center;
  &[disabled] {
    cursor: not-allowed;
  }
}